.g-promotion-marker {
    cursor: pointer;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: solid 1px #eee;
	border-radius: 50%;
	background: #fff;
	vertical-align: middle;
}

.g-promotion-marker_state_selected {
	background: #deac00;
}
