.g-logo {
    width: 240px;
    margin-left: 2%;
}

.g-logo__link {
    overflow: hidden;
    display: block;
}

.g-logo__gold {
    width: 116px;
    height: 58px;
    /*background-color: #deac00;*/
    float: left;
    background-image: url('/images/sprite.png');
    background-position: 0 0;
    /*-webkit-mask-image: url('./images/Gold.png');*/
}

.g-logo__poisk {
    width: 124px;
    height: 58px;
    /*background-color: #777777;*/
    float: left;
    background-image: url('/images/sprite.png');
    background-position: -116px 0;
    /*-webkit-mask-image: url('./images/poisk.png');*/
}

.g-logo__description {
    text-align: right;
    font-size: 13.2px;
    font-family: "Din-Text-Pro_Light", Arial, sans-serif;
    color: #a2a2a2;
    padding-top: 6px;
    overflow: hidden;
    height: 16px;
    opacity: 1;
    transition: height 0.5s, opacity 1.5s;
    -moz-transition: height 0.5s, opacity 1.5s;
    -webkit-transition: height 0.5s, opacity 1.5s;
}

.g-logo_color_theme_xmas .g-logo__left-side {
    background-color: blue;
}

.g-logo_color_theme_xmas .g-logo__right-side {
    background-color: green;
}
