.g-price-control .g-input {
    width: 55px;
}

.g-price-control .g-range .g-range__ticks {
    width: 160px;
    height: 14px;
    margin-left: 20px;
}

.g-price-control .g-range .g-range__handlebar {
    width: 160px;
    margin-left: 20px;
}

.g-price-control__input {
    padding-left: 19px;
}