.g-breadcrumbs__node_root, .g-breadcrumbs__node_level {
	font-family: 'ClearSans-Regular', Arial, Sans-serif;
	font-size: 12px;
}

.g-breadcrumbs__node_root {
	color: #777;
}

.g-breadcrumbs__node_level {
	color: #3c2424;
	text-decoration: none;
}

.g-breadcrumbs__arrow {
	display: inline-block;
	width: 6px;
	height: 10px;
	margin: 0 7px;
	background-image: url(images/arrow.png);
}