server/node_modules/*

*.swp
*.swo
*.DS_Store

images/*
bem-core/*
bem-social/*
bem-history/*
.bem/cache

node_modules/**
desktop.bundles/index/**
!desktop.bundles/index/index.bemjson.js
desktop.bundles/items/**
!desktop.bundles/items/items.bemjson.js
desktop.bundles/item/**
!desktop.bundles/item/item.bemjson.js
desktop.bundles/merge/**
