server/node_modules/*

*.swp
*.swo
*.DS_Store

images/*
bem-core/*
.bem/cache

node_modules/**
desktop.bundles/index/**
!desktop.bundles/index/index.bemjson.js
desktop.bundles/items/**
!desktop.bundles/items/items.bemjson.js
