.g-like span:first-child {
    background: url("/images/sprite.png") -26px -170px;
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 24px;
    cursor: pointer;
}

.g-like_type_extended span:last-child {
    font-family: "Clear_Sans", Arial, sans-serif;
    font-size: 12px;
    color: #777;
    padding: 0 7px 3px 7px;
    line-height: 18px;
    vertical-align: bottom;
    cursor: pointer;
}

.g-like_state_checked span:first-child {
    background: url("/images/sprite.png") -52px -170px;
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 24px;
}
