.g-item-buy-in-shop {
    text-align: left;
}
.g-item-buy-in-shop__title {
    font-family: 'ClearSans-Thin', Arial, sans-serif;
    font-size: 18px;
    color: #a07472;
    letter-spacing: -1px;
    text-decoration: underline;
    margin: 0 0 10px 0;
}

.g-item-buy-in-shop__title a {
    color: #a07472;
}

.g-item-buy-in-shop .g-price {
    display: inline-block;
    font-family: 'ClearSans-Light', Arial, sans-serif;
    font-size: 24px;
    color: #3c2424;
}

.g-item-buy-in-shop .g-button {
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
}