/* ../../desktop.blocks/page/page.css begin */
@font-face {
 font-family: Clear-Sans_Light;
 src: url("../../desktop.blocks/page/clear-sans/ClearSans-Light.ttf");
}

@font-face {
 font-family: Clear-Sans;
 src: url("../../desktop.blocks/page/clear-sans/ClearSans-Medium.ttf");
}

@font-face {
 font-family: Din-Text-Pro_Light;
 src: url("../../desktop.blocks/page/din-text-pro/PFDinTextPro-Light.ttf");
}

@font-face {
 font-family: Din-Text-Pro_Thin;
 src: url("../../desktop.blocks/page/din-text-pro/PFDinTextPro-Thin.ttf");
}

@font-face {
 font-family: Din-Text-Pro_Regular;
 src: url("../../desktop.blocks/page/din-text-pro/PFDinTextPro-Regular.ttf");
}

html {
 height: 100%;
 width: 100%;
 min-width: 990px;
}

.page {
 position: relative;
 width: 100%;
}

.page_inner {
 position: relative;
 height: 100%;
}

/* ../../desktop.blocks/page/page.css end */
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.roo begin */
html {
 min-height: 100%;
}

.page_theme_normal {
 font: 13px/15px Arial, Helvetica, sans-serif;
 min-height: 100%;
 margin: 0;
 color: #000;
 background: #fff;
}

/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_normal.roo end */
/* ../../desktop.blocks/g-header/g-header.css begin */
.g-header {
 position: relative;
 width: 100%;
 height: 105px;
 background-color: #ffffff;
}

.g-header_inner {
 position: relative;
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 height: 105px;
 margin: 0 auto;
}

.g-header_inner__desire {
 position: absolute;
 right: 20%;
 top: 29px;
 text-align: center;
}

.g-header_inner__desire img,
.g-header_inner__basket img {
 vertical-align: middle;
}

.g-header_inner__desire span,
.g-header_inner__basket span {
 margin-left: 14px;
 font-family: Clear-Sans;
 font-size: 12px;
 color: #777;
}

.g-header_inner__basket {
 position: absolute;
 left: 30%;
 top: 29px;
 text-align: center;
}

.g-header_inner__logo {
 float: left;
}

.g-header_inner__basket {
 float: left;
 width: 30%;
}

.g-header_inner__desire {
 float: left;
 width: 20%;
}

/* ../../desktop.blocks/g-header/g-header.css end */
/* ../../desktop.blocks/g-logo/g-logo.css begin */
.g-logo {
 width: 240px;
 height: 105px;
 margin-left: 25px;
}

.g-logo__left-side {
 width: 116px;
 height: 70px;
 background-color: #deac00;
 float: left;
 -webkit-mask-image: url("../../desktop.blocks/g-logo/Gold.png");
}

.g-logo__right-side {
 width: 124px;
 height: 70px;
 background-color: #777777;
 float: right;
 -webkit-mask-image: url("../../desktop.blocks/g-logo/poisk.png");
}

.g-logo__description {
 clear: both;
 width: 240px;
 background-color: #ffffff;
 text-align: right;
 font-family: Din-Text-Pro_Light;
 font-size: 12.62px;
 color: #a2a2a2;
 padding-top: 8px;
}

.g-logo_color_theme_xmas .g-logo__left-side {
 background-color: blue;
}

.g-logo_color_theme_xmas .g-logo__right-side {
 background-color: green;
}

/* ../../desktop.blocks/g-logo/g-logo.css end */
/* ../../desktop.blocks/g-support/g-support.css begin */
.g-support {
 position: absolute;
 top: 0;
 right: 0;
 width: 200px;
}

.g-support section {
 width: 100%;
 height: 100%;
}

.g-support header h1 {
 font-family: Clear-Sans;
 font-size: 13px;
 color: #000;
 margin: 0;
 padding-top: 24px;
 padding-bottom: 3px;
}

.g-support section a {
 font-family: Clear-Sans;
 font-size: 15px;
 color: #a07472;
 margin: 10px 0 0 0;
 display: inline;
}

.g-support section p {
 font-family: Clear-Sans;
 font-size: 13px;
 color: #a07472;
 margin: 3px 0 0 0;
 border-bottom: 1px dotted;
 display: inline-block;
}

/* ../../desktop.blocks/g-support/g-support.css end */
/* ../../desktop.blocks/g-category/g-category.css begin */
.g-category {
 width: 100%;
 height: 95px;
 background-color: #333333;
}

.g-category__list {
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 height: 95px;
 margin: 0 auto;
 padding: 0;
 list-style: none;
 display: table;
}

/* ../../desktop.blocks/g-category/g-category.css end */
/* ../../desktop.blocks/g-item/g-item.css begin */
.g-item {
 display: table-cell;
 float: none;
 width: 10%;
 height: 95px;
 min-width: 110px;
 max-width: 166px;
 background-color: #333333;
 color: #ffffff;
}

.g-item:hover {
 color: #dead03;
 cursor: pointer;
}

.g-item a {
 font-family: Clear-Sans_Light;
 font-size: 14px;
 display: block;
 margin-top: 58px;
 text-align: center;
}

.g-item_type_rings {
 /*    -webkit-mask-image: url(rings.png);
     -webkit-mask-position: 50% 12px;
     -webkit-mask-repeat: no-repeat;*/
 background-image: url("../../desktop.blocks/g-item/rings2.png");
 background-position: 50% 12px;
 background-repeat: no-repeat;
}

.g-item_type_rings:hover {
 /*    -webkit-mask-image: url(rings.png);
     -webkit-mask-position: 50% 12px;
     -webkit-mask-repeat: no-repeat;*/
 background-image: url("../../desktop.blocks/g-item/rings3.png");
 background-position: 50% 12px;
 background-repeat: no-repeat;
}

.g-item_type_pendants {
 background-image: url("../../desktop.blocks/g-item/pendants.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_pendants:hover {
 background-image: url("../../desktop.blocks/g-item/pendants_hover.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_necklaces {
 background-image: url("../../desktop.blocks/g-item/nacklace.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_chains {
 background-image: url("../../desktop.blocks/g-item/chain.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_bracelets {
 background-image: url("../../desktop.blocks/g-item/wristlet.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_earrings {
 background-image: url("../../desktop.blocks/g-item/clip.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_brooches {
 background-image: url("../../desktop.blocks/g-item/clip2.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_watches {
 background-image: url("../../desktop.blocks/g-item/watch.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_cutlery {
 background-image: url("../../desktop.blocks/g-item/canteen.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_necklaces:hover {
 background-image: url("../../desktop.blocks/g-item/nacklaceh.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_chains:hover {
 background-image: url("../../desktop.blocks/g-item/chainh.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_bracelets:hover {
 background-image: url("../../desktop.blocks/g-item/wristleth.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_earrings:hover {
 background-image: url("../../desktop.blocks/g-item/cliph.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_brooches:hover {
 background-image: url("../../desktop.blocks/g-item/clip2h.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_watches:hover {
 background-image: url("../../desktop.blocks/g-item/watchh.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

.g-item_type_cutlery:hover {
 background-image: url("../../desktop.blocks/g-item/canteenh.png");
 background-position: 50% 15px;
 background-repeat: no-repeat;
}

/* ../../desktop.blocks/g-item/g-item.css end */
/* ../../desktop.blocks/g-content/g-content.css begin */
.g-content {
 width: 100%;
 padding-bottom: 332px;
}

/* ../../desktop.blocks/g-content/g-content.css end */
/* ../../desktop.blocks/g-promotion/g-promotion.css begin */
.g-promotion {
 width: 100%;
 height: 498px;
 background-color: #160f10;
}

/* ../../desktop.blocks/g-promotion/g-promotion.css end */
/* ../../desktop.blocks/fotorama/fotorama.css begin */
.fotorama {
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 text-align: center;
 padding: 0;
}

/* ../../desktop.blocks/fotorama/fotorama.css end */
/* ../../desktop.blocks/g-pride/g-pride.css begin */
.g-pride {
 width: 100%;
 height: 104px;
 background-color: #333;
}

.g-pride__inner {
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 padding: 0;
 display: table;
}

/* ../../desktop.blocks/g-pride/g-pride.css end */
/* ../../desktop.blocks/g-pride-item/g-pride-item.css begin */
.g-pride-item {
 width: 25%;
 height: 100%;
 display: table-cell;
 float: none;
 font-family: Clear-Sans;
 font-size: 14px;
 color: #fff;
}

.g-pride-item p {
 margin-left: 76px;
 margin-top: 34px;
 width: 60%;
}

.g-pride-item_type_brown {
 background-color: #3c2424;
}

.g-pride-item_type_beige {
 background-color: #a07472;
}

.g-pride-item_type_gold {
 background-color: #dead03;
}

.g-pride-item_type_gray {
 background-color: #777;
}

/* ../../desktop.blocks/g-pride-item/g-pride-item.css end */
/* ../../desktop.blocks/g-section/g-section.css begin */
.g-section {
 width: 100%;
 background-color: #fff;
}

.g-section_type_slogan {
 height: 182px;
}

.g-section__inner {
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 padding-left: 24px;
 padding-top: 0;
 padding-right: 0;
 padding-bottom: 0;
}

.g-section__inner header {
 padding-top: 60px;
}

.g-section__inner header h1 {
 font-family: Din-Text-Pro_Thin;
 font-size: 36px;
 color: #3c2424;
 margin: 0;
}

.g-section_type_subscription {
 height: 129px;
}

.g-section + .g-section_type_subscription {}

.g-section + .g-section_type_subscription header {
 padding-top: 18px;
}

.g-section__inner p {
 font-family: Clear-Sans;
 font-size: 14px;
 color: #8f8f8f;
 margin: 0;
 padding-top: 23px;
}

/* ../../desktop.blocks/g-section/g-section.css end */
/* ../../desktop.blocks/g-goods/g-goods.css begin */
.g-goods {
 height: 467px;
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 margin: 0 auto;
 padding: 0;
}

.g-goods__inner {
 max-width: 1494px;
 min-width: 990px;
 width: 100%;
 margin: 0 auto;
 padding: 0;
}

.g-goods__item {
 position: relative;
 float: left;
 width: 211px;
 height: 356px;
 border: 1px solid #eaeaea;
 border-radius: 2px;
 box-shadow: 0px 0px 3px 0px rgb(0, 0, 1);
 margin-left: 33px;
 list-style: none;
}

.g-goods__item:hover {
 border-radius: 2px;
 box-shadow: 0px 0px 10px 0px rgb(0, 0, 1);
 width: 211px;
 height: 356px;
}

.g-goods__g-button {
 font-family: Din-Text-Pro_Regular;
 font-size: 18px;
 text-align: center;
 color: #3c2424;
 line-height: 33px;
 position: absolute;
 right: 10px;
 bottom: 10px;
 border-style: solid;
 border-width: 1px;
 border-color: rgb(189, 146, 0);
 border-radius: 5px;
 background-color: rgba(222, 172, 0, 0);
 width: 91px;
 height: 33px;
}

.g-goods__g-button:hover {
 background-color: rgb(222, 172, 0);
 cursor: pointer;
}

.g-goods__image {
 position: absolute;
 top: 0;
 left: 0;
 margin-bottom: 15px;
}

.g-goods__image {
 cursor: pointer;
}

.g-goods__title {
 position: absolute;
 top: 180px;
 left: 0;
 width: 100%;
 height: 60px;
 font-family: Clear-Sans;
 font-size: 14px;
 letter-spacing: -1px;
 color: #333;
 text-indent: 16px;
}

.g-goods__jw,
.g-goods__pw {
 padding-left: 14px;
}

.g-goods__item span p {
 padding-left: 7px;
}

.g-goods__price {
 position: absolute;
 left: 12px;
 bottom: 18px;
 font-family: Clear-Sans;
 font-size: 24px;
 color: #cb3e3e;
}

.g-goods__item_action_yes .g-goods__tape {
 position: absolute;
 top: -1px;
 right: -1px;
 width: 89px;
 height: 73px;
 background-image: url("../../desktop.blocks/g-goods/redang.png");
}

.g-goods__tape p {
 -webkit-transform: rotate(40deg);
 transform: rotate(40deg);
 text-align: center;
 vertical-align: middle;
 margin: 0;
}

.g-goods__item_hit_yes .g-goods__tape {
 position: absolute;
 top: -1px;
 right: -1px;
 width: 89px;
 height: 73px;
 background-image: url("../../desktop.blocks/g-goods/blueang.png");
}

.g-goods__pw {
 position: absolute;
 top: 237px;
}

.g-goods__jw {
 position: absolute;
 top: 267px;
}

.g-goods__jw,
.g-goods__pw {}

.g-goods__item img {
 z-index: -1;
}

.g-goods__shop {
 position: absolute;
 bottom: 47px;
 left: 13px;
 color: #a07472;
 font-family: Clear-Sans;
 font-size: 14px;
}

.g-goods__pw p,
.g-goods__jw p {
 display: inline;
 font-family: Clear-Sans;
 font-size: 14px;
 color: #8f8f8f;
}

.g-goods__heart {
 position: absolute;
 top: 0;
 left: 0;
 width: 26px;
 height: 24px;
 background-image: url("../../desktop.blocks/g-goods/empty_heart.png");
 margin-left: 7px;
 margin-top: 8px;
}

.g-goods__item_like_yes .g-goods__heart {
 background-image: url("../../desktop.blocks/g-goods/heart.png");
}

/* ../../desktop.blocks/g-goods/g-goods.css end */
/* ../../desktop.blocks/g-cooperation/g-cooperation.css begin */
.g-cooperation {
 width: 100%;
 height: 189px;
 background-color: #a07472;
 position: absolute;
 left: 0;
 bottom: 142px;
}

.g-cooperation__inner {
 max-width: 1494px;
 min-width: 990px;
 height: 100%;
 margin: 0 auto;
 font-family: Din-Text-Pro_Thin;
 text-align: center;
 color: #fff;
}

.g-cooperation__inner p {
 font-size: 18px;
}

.g-cooperation__inner h1 {
 padding-top: 56px;
 font-size: 36px;
 margin: 0;
}

/* ../../desktop.blocks/g-cooperation/g-cooperation.css end */
/* ../../desktop.blocks/g-footer/g-footer.css begin */
.g-footer {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 142px;
 background-color: #ffffff;
}

.g-footer_inner {
 max-width: 1494px;
 min-width: 990px;
 height: 100%;
 margin: 0 auto;
 background-color: #ffffff;
}

.g-footer_inner__left {
 width: 25%;
 float: left;
 text-align: left;
}

.g-footer_inner__left p {
 font-family: Din-Text-Pro_Thin;
 font-size: 14px;
 color: #564141;
 padding-left: 26px;
 padding-top: 38px;
 margin: 0;
}

.g-footer_inner__middle {
 width: 50%;
 float: left;
 text-align: center;
}

.g-footer_inner__middle section {
 display: block;
 text-align: center;
}

.g-footer_inner__middle section span {
 display: inline-block;
 width: 36px;
 height: 32px;
 margin-top: 18px;
 margin-left: 6px;
 margin-right: 6px;
 background-image: url("../../desktop.blocks/g-footer/socials.png");
}

.g-footer_inner__middle section header h1 {
 font-family: Din-Text-Pro_Thin;
 font-size: 18px;
 color: #564141;
 padding-top: 38px;
 margin: 0;
}

.fb {
 background-image: url("../../desktop.blocks/g-footer/socials.png");
}

.tw {
 background-position: -36px 0;
}

.vk {
 background-position: -72px 0;
}

.ok {
 background-position: -108px 0;
}

.g-footer_inner__right {
 width: 25%;
 float: left;
 text-align: right;
}

.g-footer_inner__right p {
 font-family: Din-Text-Pro_Thin;
 font-size: 14px;
 color: #564141;
 padding-right: 75px;
 padding-top: 38px;
 margin: 0;
}