.g-pride {
    display: table;
    width: 100%;
    height: 1%;
}
.g-pride__left {
    display: table-cell;
    width: 48%;
    padding-left: 2%;
    background: #3c2424;
    vertical-align: top;
    height: 100%;
}
.g-pride__right {
    display: table-cell;
    width: 48%;
    padding-right: 2%;
    background: #777;
    vertical-align: top;
    height: 100%;
}
