.g-section .g-section__title {
    margin-bottom: 4px; 
}

.g-section__description {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #8f8f8f;
    margin: 0;
}

.g-section .g-subscribe {
    display: inline-block;
    float: left;
    margin: 5px 0 0 40px;
}