.g-section__title h1
{
    font-family: 'PFDinTextPro-Thin';
    color: #3c2424;
    margin: 0;
}

.g-section.g-section_type_slogan .g-section__title h1 {
    font-size: 36px;    
}
.g-section.g-section_type_slogan .g-section__title {
    margin-bottom: 4px; 
}

.g-section.g-section_With_subscription .g-section__title h1 {
    font-size: 30px;
}

.g-section.g-section_With_subscription .g-section__title {
    margin-bottom: 15px;
}

.g-section.g-section_With_subscription .g-section__description {
    display: inline-block;
    float: left;  
}

.g-section__description
{

    font-family: Clear-Sans;
    font-size: 14px;
    color: #8f8f8f;
    margin: 0;
}

.g-section .g-subscribe {
    display: inline-block;
    float: left;
    margin: 5px 0 0 40px;
}