.g-goods {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.g-goods_loading {
    opacity: 0.1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.g-goods .g-product {
    margin: 16px 0 42px 35px;
}

.g-goods .g-sorting-goods {
    margin-bottom: 28px;
}
