.g-goods {
    margin: 0 auto;
    padding: 0;
}

.g-goods .g-filter {
    float: left;
    margin-left: -8px;
}

.g-goods .g-filter_hidden {
    margin-left: -262px;
}

.g-goods .g-goods__container {
    margin-left: 295px;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-goods.g-goods_wide .g-goods__container {
    margin-left: 40px;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-goods__content {
    position: relative;
    opacity: 1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.g-goods__content_loading {
    opacity: 0.1;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    pointer-events: none;
}

.g-goods .g-product {
    margin: 16px 0 42px 35px;
}

.g-goods .g-sorting-goods {
    margin-bottom: 16px;
}

.g-goods__up-spin, .g-goods__down-spin {
    position: relative;
    text-align: center;
    padding: 10px;
    height: 75px;
}

.g-goods .g-frame {
    margin-bottom: 26px;
}
