.g-footer {
    width: 100%;
    height: 142px;
    /*padding: 0 2%;*/
    background-color: #ffffff;
}

.g-footer__left {
    width: 25%;
    float: left;
    text-align: left;
}

.g-footer__left p {
    font-size: 14px;
    font-family: Din-Text-Pro_Thin, sans-serif;
    color: #564141;
    padding-left: 26px; padding-top: 38px;
    margin: 0;
}

.g-footer__middle {
    width: 50%;
    float: left;
    text-align: center;
}

.g-footer__middle section {
    display: block;
    text-align: center;
}

.g-footer__middle section a {
    display: inline-block;
    width: 36px; height: 32px;
    margin-top: 18px;
    margin-left: 6px; margin-right: 6px;
    background-image: url('./images/socials.png');
}

.g-footer__middle section header h1 {
    font-family: Din-Text-Pro_Thin;
    font-size: 18px;
    color: #564141;
    padding-top: 38px;
    margin: 0;
}

.fb {
    background-image: url('./images/socials.png');
}

.tw {
    background-position: -36px 0;
}

.vk {
    background-position: -72px 0;
}

.ok {
    background-position: -108px 0;
}

.g-footer__right {
    width: 25%;
    float: left;
    text-align: right;
}

.g-footer__right p {
    font-family: Din-Text-Pro_Thin, sans-serif;
    font-size: 14px;
    color: #564141;
    padding-right: 75px; padding-top: 38px;
    margin: 0;
}
