.g-cooperation
{
    width: 100%; height: 189px;
    background-color: #a07472;
    position: absolute;
    left: 0; bottom: 142px;
}

.g-cooperation__inner
{
    max-width: 1494px; min-width: 990px;
    height: 100%;
    margin: 0 auto;
    font-family: Din-Text-Pro_Thin;
    text-align: center;
    color: #fff;
}

.g-cooperation__inner p
{
    font-size: 18px;
}

.g-cooperation__inner h1
{
    padding-top: 56px;
    font-size: 36px;
    margin: 0;
}
