.g-cooperation {
    padding: 35px 0;
    background-color: #a07472;
    font-family: 'Din-Text-Pro_Thin', 'Arial', sans-serif;
    text-align: center;
    color: #fff;
}

.g-cooperation p {
    margin: 25px 0;
    font-size: 18px;
}
