.g-image {
    display: inline-block;
    background: none;
}

.g-image_size_m {
    width: 210px;
    height: 180px;
}

.g-image_loading {
    background: url('/images/sprite.png');
}

.g-image_loading.g-image_size_m {
    background-position: -290px -320px;
}

.g-image__picture {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

.g-image_loading .g-image__picture {
    opacity: 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
}

.g-image_size_m .g-image__picture {
    max-width: 210px;
    max-height: 180px;
}

.g-image_spin {
    position: relative;
}

.g-image_spin .g-image__main {
    max-width: none;
    max-height: none;
}

.g-image_spin .g-spin_size_xl {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33.5px;
    margin-top: -33.5px;
}
