.g-image__icon {
    position: absolute;
    display: block;
    opacity: 1;
    background: url('/images/sprite.png');
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -mox-transition: opacity 1s;
    -ms-transition: opacity 1s;
}

.g-image_done .g-image__icon {
    opacity: 0;
}

.g-image__preload .g-image__main {
    max-width: 210px;
    max-height: 180px;
}

.g-image_size_m .g-image__icon {
    width: 210px;
    height: 180px;
    background-position: -290px -320px;
}

.g-image_spin {
    position: relative;
}

.g-image_spin .g-spin_size_xl {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33.5px;
    margin-top: -33.5px;
}
