.g-image {
    display: inline-block;
}

.g-image_size_m {
    width: 210px;
    height: 180px;
}

.g-image_preload {
    background: url('/images/sprite.png');
}

.g-image_preload.g-image_size_m {
    background-position: -290px -320px;
}

.g-image_done {
    background: none;
}

.g-image__pic {
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -mox-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

.g-image_done .g-image__pic {
    opacity: 1;
}

.g-image_size_m .g-image__pic {
    max-width: 210px;
    max-height: 180px;
}

.g-image_spin {
    position: relative;
}

.g-image_spin .g-image__main {
    max-width: none;
    max-height: none;
}

.g-image_spin .g-spin_size_xl {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33.5px;
    margin-top: -33.5px;
}
