@font-face {
    font-family: 'ClearSans-Regular';
    src: url('fonts/clear-sans/Regular/ClearSans-Regular-en+cyrillic.eot');
    src: url('fonts/clear-sans/Regular/ClearSans-Regular-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Regular/ClearSans-Regular-en+cyrillic.svg#ClearSans-Regular') format('svg'),
    url('fonts/clear-sans/Regular/ClearSans-Regular-en+cyrillic.woff') format('woff'),
    url('fonts/clear-sans/Regular/ClearSans-Regular-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Light';
    src: url('fonts/clear-sans/Light/ClearSans-Light-en+cyrillic.eot');
    src: url('fonts/clear-sans/Light/ClearSans-Light-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Light/ClearSans-Light-en+cyrillic.svg#ClearSans-Light') format('svg'),
    url('fonts/clear-sans/Light/ClearSans-Light-en+cyrillic.woff') format('woff'),
    url('fonts/clear-sans/Light/ClearSans-Light-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Medium';
    src: url('fonts/clear-sans/Medium/ClearSans-Medium-en+cyrillic.eot');
    src: url('fonts/clear-sans/Medium/ClearSans-Medium-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Medium/ClearSans-Medium-en+cyrillic.svg#ClearSans-Medium') format('svg'),
    url('fonts/clear-sans/Medium/ClearSans-Medium-en+cyrillic.woff') format('woff'),
    url('fonts/clear-sans/Medium/ClearSans-Medium-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Thin';
    src: url('fonts/clear-sans/Thin/ClearSans-Thin-en+cyrillic.eot');
    src: url('fonts/clear-sans/Thin/ClearSans-Thin-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Thin/ClearSans-Thin-en+cyrillic.svg#ClearSans-Thin') format('svg'),
    url('fonts/clear-sans/Thin/ClearSans-Thin-en+cyrillic.woff') format('woff'),
    url('fonts/clear-sans/Thin/ClearSans-Thin-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('fonts/clear-sans/Bold/ClearSans-Bold-en+cyrillic.eot');
    src: url('fonts/clear-sans/Bold/ClearSans-Bold-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Bold/ClearSans-Bold-en+cyrillic.svg#ClearSans-Bold') format('svg'),
    url('fonts/clear-sans/Bold/ClearSans-Bold-en+cyrillic.woff') format('woff'),
    url('fonts/clear-sans/Bold/ClearSans-Bold-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRubl';
    src: url('fonts/ALSRubl/ALSRubl.eot');
    src: url('fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),
    url('fonts/ALSRubl/ALSRubl.woff') format('woff'),
    url('fonts/ALSRubl/ALSRubl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('fonts/din-text-pro/Light/PFDinTextPro-Light-en+cyrillic.eot');
    src: url('fonts/din-text-pro/Light/PFDinTextPro-Light-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light-en+cyrillic.svg#PFDinTextPro-Light') format('svg'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light-en+cyrillic.woff') format('woff'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Thin';
    src: url('fonts/din-text-pro/Thin/PFDinTextPro-Thin-en+cyrillic.eot');
    src: url('fonts/din-text-pro/Thin/PFDinTextPro-Thin-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin-en+cyrillic.svg#PFDinTextPro-Thin') format('svg'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin-en+cyrillic.woff') format('woff'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-ThinItalic';
    src: url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic-en+cyrillic.eot');
    src: url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic-en+cyrillic.svg#PFDinTextPro-ThinItalic') format('svg'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic-en+cyrillic.woff') format('woff'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('fonts/din-text-pro/Regular/PFDinTextPro-Regular-en+cyrillic.eot');
    src: url('fonts/din-text-pro/Regular/PFDinTextPro-Regular-en+cyrillic.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular-en+cyrillic.svg#PFDinTextPro-Regular') format('svg'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular-en+cyrillic.woff') format('woff'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular-en+cyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.page {
    position: relative;
    margin: 0 auto;
    min-width: 1000px;
}

.page__wrapper {
    height: 100%;
    padding-bottom: 142px;
}

.page__wrapper .g-footer {
    position: absolute;
    bottom: 0;
}
