.g-bids {
    overflow: hidden;
}

.g-bids .g-goods {
    margin: 40px 0;
}

.g-bids .g-link_more {
    float: right;
}

.g-bids .g-goods .g-product {
    margin: 0 35px 0 0;
}

.g-bids__description {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #8f8f8f;
    margin-top: 20px;
}