.g-pride-item {
    height: 100%;
    width: 50%;
    float: left;
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.g-pride-item p {
    margin: 40px 0 35px 79px;
    max-width: 210px;
}

.g-pride-item_type_brown {
    background-color: #3c2424;
}

.g-pride-item_type_brown .img {
    background-image: url('../g-pride/images/diamond.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.g-pride-item_type_beige {
    background-color: #a07472;
}

.g-pride-item_type_beige .img {
    background-image: url('../g-pride/images/infinity.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    left: 18px;
}

.g-pride-item_type_beige p {
    margin-left: 83px;
}

.g-pride-item_type_gold {
    background-color: #dead03;
}

.g-pride-item_type_gold .img {
    background-image: url('../g-pride/images/crown.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.g-pride-item_type_gray {
    background: #777;
}

.g-pride-item_type_gray .img
{
    background-image: url('../g-pride/images/checkbox.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;   
}

.img
{
    position: absolute;
    left: 24px; top: 35px;
    width: 57px; height: 40px;
}
