.g-category-title
{
    width: 100%;
}

.g-category-title__inner
{
    max-width: 1494px; min-width: 990px;
    width: 100%; height: 100%;
    margin: 0 auto;
    padding: 13px 0 48px 23px;
}

.g-category-title__title
{
    display: inline-block;
    font-family: Din-Text-Pro_Thin;
    font-size: 36px;
    color: #3c2424;
}

.g-category-title__count
{
    display: inline-block;
    font-family: Din-Text-Pro_ThinItalic;
    font-size: 30px;
    color: #777;
    margin-left: 13px;
}
