.g-product {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 210px;
    height: 355px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    list-style: none;
}

.g-product:hover {
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba( 0, 0, 1, 0.5 );
}

.g-product:hover .g-button {
    display: block;
}

.g-product .g-like {
    position: absolute;
    left: 8px;
    top: 9px;
    z-index: 1000;
    cursor: pointer;
}

.g-product__image {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 180px;
}

.g-product__image img {
    max-width: 210px;
    max-height: 180px;
}

.g-product__title {
    display: block;
    height: 55px;
    margin: 0 15px 0 15px;
    font-family: Clear-Sans_Thin, Arial, sans-serif;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    line-height: 1.25;
    position: relative;
}

.g-product__title:hover {
    text-decoration: underline;
}

.g-product__title-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 80%,  #fff 100%);
}

.g-product__link {
    text-decoration: none;
}

.g-product__weight, .g-product__carat, .g-product__store {
    height: 26px;
    line-height: 26px;
    margin: 0;
    font-family: Clear-Snas_Thin, Arial, sans-serif;
    font-size: 14px;
}

.g-product__weight, .g-product__carat {
    padding-left: 43px;
        color: #8f8f8f;
}

.g-product__weight {
    background-image: url('./images/pw.png');
    background-repeat: no-repeat;
    background-position: 14px 0;
}

.g-product__carat {
    background-image: url('./images/jw.png');
    background-repeat: no-repeat;
    background-position: 15px 4px
}

.g-product__store {
    padding-left: 13px;
    color: #a07472;
}


.g-product .g-button {
    position: absolute;
    right: 9px;
    bottom: 9px;
    width: 86px;
}
.g-product .g-price {
   position: absolute;
   left: 16px; bottom: 8px;
}

.g-product.g-product_action_yes .g-price {
    color: #cb3e3e;
}

.g-product_action_yes .g-product__marker {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 89px;
    height: 73px;
    background-image: url('./images/redang.png');
}

.g-product_hit_yes .g-product__marker {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 89px;
    height: 73px;
    background-image: url('./images/blueang.png');
}
