.g-frame {
    position: relative;
    display: none;
    width: 850px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 222, 172, 0 );
    box-shadow: inset 0px 2px 4px 1px #dadada;
    background-color: rgb( 255, 255, 255 );
    text-align: left;
}

.g-frame_showed {
    display: block;
    min-height: 450px;
}

.g-frame__close {
    position: absolute;
    top: 14px; 
    right: 14px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url('/images/sprite.png');
    background-position: -41px -194px;
    cursor: pointer;
    z-index: 2;
}

.g-frame__arrow {
    position: absolute;
    top: -29px;
    left: 80px;
    width: 38px;
    height: 36px;
    background-image: url('/images/sprite.png');
    background-position: -180px -244px;
    z-index: 2;
}

.g-frame__content {
    padding: 30px 17.5px 45px;
}

.g-frame .g-item {
    padding: 0;
    margin: 0;
}

.g-frame .g-item .g-right-col {
    padding-left: 435px;
}

.g-frame .g-item .g-heading {
    margin-bottom: 15px;
    display: block;
}

.g-frame .g-item .g-subscribe {
    margin-top: 35px;
}

.g-frame .g-heading_type_main {
    font-size: 24px;
    font-weight: 100;
    color: #a07472;
}

.g-frame .g-item .g-heading_dark {
    margin-left: 21px;
    padding-top: 40px;
    margin-bottom: 0;
}

.g-frame .g-item .g-available-in-stores {
    margin-left: 21px;
    margin-bottom: 0;
}

.g-frame .g-spin {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -37.5px;
    left: 50%;
    margin-left: -37.5px;
    z-index: 2;
}
