.g-header
{
    position: relative;
    width: 100%;
    height: 105px;
    background-color: #ffffff;
}

.g-header_inner
{
    position: relative;
    max-width: 1494px; min-width: 990px;
    width: 100%; height: 105px;
    margin: 0 auto;
}

.g-header_inner__logo
{
    float: left;

}

.g-header_inner__basket
{
    float: left;
    width: 30%;

}

.g-header_inner__desire
{
    float: left;
    width: 20%;

}


