.g-item-heading {
	font-family: Din-Text-Pro_Thin;
	font-size: 24px;
	color: #a07472;
	text-decoration: underline;
}

.g-item-heading_type_simple {
	color: #3c2424;
	text-decoration: none;
}

.g-item-heading_type_main {
	color: #3c2424;
	font-size: 36px;
	text-decoration: none;
}