.g-promotion {
    overflow: hidden;
	position: relative;
    height: 498px;
    background-color: #160f10;
}

.g-promotion .g-promotion-markers-list {
	position: absolute;
	width: 100%;
	bottom: 25px;
}

.g-promotion .g-promotion-item {
	position: absolute;
	left: 40%;
	top: 50%;
}
