.g-promotion {
	position: relative;
    height: 498px;
    background-color: #160f10;
}

.g-promotion__inner {
    overflow: hidden;
	position: relative;
    height: 100%;
}

.g-promotion .g-promotion-markers-list {
	position: absolute;
	width: 100%;
	bottom: 25px;
    z-index: 2;
}

.g-promotion .g-promotion-item {
	position: absolute;
	left: 40%;
	top: 50%;
}

.g-promotion__fotorama {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* new styles */
.g-promotion__item {
    position: absolute;
    width: 990px;
    height: 498px;
    left: -9999px;
    top: -9999px;
}

.g-promotion__item_active {
    top: 0px;
    left: 50%;
    margin-left: -495px;
    z-index: 2;
    box-shadow: 0px 0px 100px #000;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-promotion__item_next,
.g-promotion__item_prev {
    opacity: 0.7;
    left: 50%;
    top: 10px;
    z-index: 1;
}

.g-promotion__item_next img,
.g-promotion__item_prev img {
    height: 478px;
}

.g-promotion__item_prev {
    margin-left: -1415px;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-promotion__item_next {
    margin-left: 465px;
}
