.g-item-galery
{
    /*width: 421px;*/
    /*height: 311px;*/
}

.g-item-galery__title
{
    text-align: center;
    /*width: 319px;*/
    padding-left: 102px;
}

.g-item-galery__title h1
{
    display: inline;
    text-align: center;
    font-family: Clear-Sans_Thin;
    font-size: 18px;
    color: #777;
    margin: 0;
}

.g-item-galery__preview_images {
    float: left;
    padding-top: 10px;
}

.g-item-galery__preview_images ul
{
    margin: 0;
    padding: 0;
}

.g-item-galery__preview_images ul li {
    width: 62px; 
    height: 52px;
    list-style: none;
    padding: 7.5px 0;
}

.g-item-galery__preview_images ul li img {
    border: solid 1px #fff;
}

.g-item-galery__preview_images ul li img:hover {
    border: solid 1px #e0b213;
}

.g-item-galery__main_image {
    position: relative;
    height: 263px;
    float: right;
    padding: 10px 0 0 25px;
}

.g-item-galery__zoom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 29px;
    background-image: url(images/zoom.png);
}

.g-item-galery_type_big .g-item-galery__main_image {
    height: 290px;
}

.g-item-galery_type_big .g-item-galery__title {
    padding-left: 30px;
}
