.g-checkbox {
    margin: 2px 0 2px 23px;
}

.g-checkbox__label {
    color: #777;
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.g-checkbox input {
    display: none;
}

.g-checkbox__input {
    display: inline-block;
    width: 17px; height: 17px;
    margin-top: -1px; margin-right: 10px; margin-bottom: 0; margin-left: 0;
    vertical-align: middle;
    background-image: url(./images/checkbox.png); background-position: left top; background-repeat: no-repeat;
}

.g-checkbox_checked .g-checkbox__label {
    color: #c39801;
}

.g-checkbox_checked .g-checkbox__input {
    background-image: url('./images/checkbox.png');
    background-position: -17px top;
    background-repeat: no-repeat;
}
