.g-item {
    padding: 10px 2%;
}

.g-item .g-heading_size_l, .g-item .g-heading_size_m {
    display: block;
}

.g-item .g-heading_size_m {
    display: block;
    clear: both;
}

.g-item .g-item-heading_type_main {
    margin: 0 0 5px 0;
}

.g-item .g-item-category {
    margin: 0 0 20px 0;
}

.g-item .g-item-gallery {
    display: inline-block;
    float: left;
}

.g-item .g-item-features {
    margin-top: 25px;
    margin-bottom: 15px;
}

.g-item .g-item-description {
    margin: 0 0 20px 0;
}

.g-item .g-like {
    margin-bottom: 30px;
}

.g-item .g-social_follow {
    margin: 0 0 0 3px;
}

.g-item .g-right-col {
    padding: 35px 0 0 460px;
    min-height: 267px;
}

.g-item .g-item-heading_type_simple {
    clear: both;
    padding: 15px 0 5px 0;
    margin: 0;
}

.g-item .g-item-buy-in-shop {
    margin: 35px 0 25px 0;
}

.g-item .g-available-in-stores {
    margin-bottom: 60px;
}
