.g-category
{
    width: 100%;
    height: 95px;
    background-color: #333333;
}

.g-category__list
{
    max-width: 1494px; min-width: 990px;
    width: 100%; height: 95px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}

