@font-face {
    font-family: 'ClearSans-Regular';
    src: url('fonts/clear-sans/Regular/ClearSans-Regular.eot');
    src: url('fonts/clear-sans/Regular/ClearSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Regular/ClearSans-Regular.svg#ClearSans-Regular') format('svg'),
    url('fonts/clear-sans/Regular/ClearSans-Regular.woff') format('woff'),
    url('fonts/clear-sans/Regular/ClearSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Light';
    src: url('fonts/clear-sans/Light/ClearSans-Light.eot');
    src: url('fonts/clear-sans/Light/ClearSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Light/ClearSans-Light.svg#ClearSans-Light') format('svg'),
    url('fonts/clear-sans/Light/ClearSans-Light.woff') format('woff'),
    url('fonts/clear-sans/Light/ClearSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Medium';
    src: url('fonts/clear-sans/Medium/ClearSans-Medium.eot');
    src: url('fonts/clear-sans/Medium/ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Medium/ClearSans-Medium.svg#ClearSans-Medium') format('svg'),
    url('fonts/clear-sans/Medium/ClearSans-Medium.woff') format('woff'),
    url('fonts/clear-sans/Medium/ClearSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Thin';
    src: url('fonts/clear-sans/Thin/ClearSans-Thin.eot');
    src: url('fonts/clear-sans/Thin/ClearSans-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Thin/ClearSans-Thin.svg#ClearSans-Thin') format('svg'),
    url('fonts/clear-sans/Thin/ClearSans-Thin.woff') format('woff'),
    url('fonts/clear-sans/Thin/ClearSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearSans-Bold';
    src: url('fonts/clear-sans/Bold/ClearSans-Bold.eot');
    src: url('fonts/clear-sans/Bold/ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/clear-sans/Bold/ClearSans-Bold.svg#ClearSans-Bold') format('svg'),
    url('fonts/clear-sans/Bold/ClearSans-Bold.woff') format('woff'),
    url('fonts/clear-sans/Bold/ClearSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRubl';
    src: url('fonts/ALSRubl/ALSRubl.eot');
    src: url('fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),
    url('fonts/ALSRubl/ALSRubl.woff') format('woff'),
    url('fonts/ALSRubl/ALSRubl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Light';
    src: url('fonts/din-text-pro/Light/PFDinTextPro-Light.eot');
    src: url('fonts/din-text-pro/Light/PFDinTextPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light.svg#PFDinTextPro-Light') format('svg'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light.woff') format('woff'),
    url('fonts/din-text-pro/Light/PFDinTextPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Thin';
    src: url('fonts/din-text-pro/Thin/PFDinTextPro-Thin.eot');
    src: url('fonts/din-text-pro/Thin/PFDinTextPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin.svg#PFDinTextPro-Thin') format('svg'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin.woff') format('woff'),
    url('fonts/din-text-pro/Thin/PFDinTextPro-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-ThinItalic';
    src: url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic.eot');
    src: url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic.svg#PFDinTextPro-ThinItalic') format('svg'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic.woff') format('woff'),
    url('fonts/din-text-pro/ThinItalic/PFDinTextPro-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextPro-Regular';
    src: url('fonts/din-text-pro/Regular/PFDinTextPro-Regular.eot');
    src: url('fonts/din-text-pro/Regular/PFDinTextPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular.svg#PFDinTextPro-Regular') format('svg'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular.woff') format('woff'),
    url('fonts/din-text-pro/Regular/PFDinTextPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.page {
    position: relative;
    margin: 0 auto;
    min-width: 1000px;
}

.page__wrapper {
    height: 100%;
    padding-bottom: 142px;
}

.page__wrapper .g-footer {
    position: absolute;
    bottom: 0;
}
