@font-face {
    font-family: Clear-Sans;
    src: url(clear-sans/ClearSans-Regular.ttf);
}
@font-face {
    font-family: Clear-Sans_Light;
    src: url(clear-sans/ClearSans-Light.ttf);
}

@font-face {
    font-family: Clear-Sans_Medium;
    src: url(clear-sans/ClearSans-Medium.ttf);
}

@font-face {
    font-family: Clear-Sans_Thin;
    src: url(clear-sans/ClearSans-Thin.ttf);
}

@font-face {
    font-family: Clear-Sans_Bold;
    src: url(clear-sans/ClearSans-Bold.ttf);
}

@font-face {
    font-family: Din-Text-Pro_Light;
    src: url(din-text-pro/PFDinTextPro-Light.ttf);
}

@font-face {
    font-family: Din-Text-Pro_Thin;
    src: url(din-text-pro/PFDinTextPro-Thin.ttf);
}

@font-face {
    font-family: Din-Text-Pro_ThinItalic;
    src: url(din-text-pro/PFDinTextPro-ThinItalic.ttf);
}

@font-face {
    font-family: Din-Text-Pro_Regular;
    src: url(din-text-pro/PFDinTextPro-Regular.ttf);
}

html {
    min-width: 990px;
}

.page {
    margin: 0;
}

.page_inner {
    position: relative;
    height: 100%;
}
