.g-price {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 24px;
    color: #000;
}

.g-price__rouble {
    font-family: 'ALSRubl', Arial, sans-serif;
    margin-left: -5px;
}
