.g-filter {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 292px;
    padding: 10px 0 30px 10px;
    background: url('./images/top.png') 0 0 no-repeat, url('./images/bottom.png') 0 100% no-repeat, url('./images/arrow-left.png') 92% 50% no-repeat, url('./images/left.png') repeat-y;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-filter + .g-goods {
    margin-left: 305px;
    transition: margin-left 1s;
    -moz-transition: margin-left 1s;
    -webkit-transition: margin-left 1s;
}

.g-filter__list {
    width: 253px;
    display: inline-block;
    cursor: auto;
}

.g-filter_hidden {
    background: url('./images/top.png') 0 0 no-repeat, url('./images/bottom.png') 0 100% no-repeat, url('./images/arrow-right.png') 92% 50% no-repeat, url('./images/left.png') repeat-y;
}

.g-filter_hidden + .g-goods {
    margin-left: 4%;
}

.g-filter__title {
    display: inline-block;
    padding: 15px 22.5px;
    margin: 0;
    font-family: 'PFDinTextPro-Regular', Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #3c2424;
}

.g-filter__button {
    position: absolute;
    right: 17px;
    top: 0;
    height: 100%;
    width:  23px;
    cursor: pointer;
}

.g-filter .g-button {
    margin-left: 23px;
}
